html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Helvetica";
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border-color: #79756f;
  border: 3px solid #595652;
  border-left: none;
  border-right: none;
  margin: 0;
}

h1 {
  font-family: "Bevan", serif;
  margin-bottom: 10px;
}

.cards {
  margin: 0.3em;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #fff;
}

.cards li {
  display: inline-block;
  margin: 0.3em;
  max-width: 20em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 5px;
  text-align: center;
}

li a {
  color: #fff;
  text-decoration: none;
}

.hover:hover {
  background-color: #f33;
  color: #fff;
}
